<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>show</title>
</head>
<body>
    <a href="/paintings/new">Add Painting</a>
    <a href="/paintings">Dashboard</a>
    <a href="/logout">Logout</a>
    <h1>{{painting.title}}</h1>
    <h3>Painted by: {{painting.first_name}} {{painting.last_name}}</h4>
    <div>
        <h2>
            Description:
        </h2>
            <p>    {{painting.description}}</p>
    </div>
    <div>
        <h2>
            Price:
        </h2>
            <p>${{painting.price}}.00</p>
    </div>
</body>
</html>